


table{
    width: 100%;

    margin-left: 0px;
    margin-right: 0px;
    position: sticky;
}



h1{
    font-size: 50px;

}

button{
    border: none;

    font-size: 16px;
    font-family: "Courier New";
}

}

td{
    text-align: center;
    border-collapse: collapse;
    *width:1%
}

h2{
    font-size: 35px;
    font-family: "Courier New";
}

h3{
    font-size: 28px;
    font-family: "Courier New";
}

h4{
    font-size: 20px;
    
    
}

p{
    font-family: "Trebuchet MS";
}


figcaption{
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.essay{
    text-indent: 50px;
    line-height: 2;
    *text-align: center;
}

.generalText{
    line-height: 1.5;
    *text-indent: 25px;
    *font-size:18px;
}

.generalHeader{
    margin-left: 10%;
    line-height: 1;

}

.essayHeader{
    *text-align: center;
    margin-left: 25%;
}

.cited{
    text-align: center;


}

.bottom{
    position: fixed;
    bottom: -16px;
    text-align: right;
    height: 30px;
    width: 97%;

}

.hanging{
    padding: 10px;
    padding-left: 64px;
    text-indent: -60px;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 2;

}



.centertxt{
    text-align:center;
}





