


header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background: linear-gradient(-20deg, white, white, lightgrey, grey);
    background-size: 100% 110%;
    min-height: 125vh;
    background-repeat: no-repeat;
}

	
}



main {
    color: white;
}

header {
    font-family: sans-serif;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 0 25px 0 black;

}
header * {
    display: inline;
}

nav{
    margin: auto;
}
header li {
    margin: 10px;
    display: inline-block;
    position: relative;
    font-weight: 550;

}

header li a {
    color: black;
    text-decoration: none;

}
header li a::before{
    content: '';
    display: block;
    height: 3px;
    margin-left: 50%;
    width: 0%;
    background-color: black;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 300ms;
}
header li a:hover::before{
    width: 100%;
    margin-left: 0%;
}
.active::before{
    margin-left: 0%;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    bottom: 0;
}
